*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 30px;
}

$mainColor: #8a1fc7;
$secondColor: #242222;

::selection {
  background: $mainColor;
}

body {
 display: grid;
 place-content: center;
 height: 100vh;
 background:url(/src/images/bg.png) center fixed;
}

.card {
  max-width: 500px;
  height: 700px;
  background: $secondColor;
  box-shadow: -2px 1px 15px lighten($secondColor,21%);
  border-radius: 30px;

  transition: .3s;
  animation: popUp .5s linear;

   &__image {
     width: 100%;
     height: 33%;
     background: url(/src/images/bg-card-epic-games.jpg) center fixed no-repeat;
     margin-bottom: 20px;
     clip-path: circle(100% at 60% -80%  );
     border-radius: inherit;

     transition: inherit ;
   }

   &:hover &__image {
     clip-path: circle(100% at 45% -68%);
     transition: .3s ease-in-out;
   }

   &:hover {
     box-shadow: 12px 10px 1px $mainColor;
     transition: .3s ease-in-out;
   }

   &__info {
    padding: 30px;
    color: #fff;
    
     &__title {
      font-size: 2.2em;
      font-family: Kanit;
      font-weight: 600;
     }

     &__badge {
      width: 100px;
      padding: 5px;
      font-family: monospace;
      background: $mainColor;
      box-shadow: inset 10px 10px 10px #be96e493;
      border-radius: 20px;  
      text-align: center;   
        &:hover {
          background: darken($mainColor,10%);
        }
     }

     &__description {
      margin-top: 30px;
      font-family: Lato, sans-serif;
      letter-spacing: 1px;
      text-align: center;
     }
   }  
}

@keyframes popUp {
  from {
   opacity: 0;
   background: none;
   margin-bottom: 50px;
  }
}

@media only screen and (max-width:430px){
   .card {
     width: 80%;
     height: auto;
     margin: auto;

      &__image {
        display: none;
      }

      &:hover, &__image {
        clip-path: none;
      }

      &:hover {
        transform: none;
      } 

      &__info {
        border: 3px solid grey;

       &__title {
        font-size: 2em;
        line-height: 1em;
      }

       &__badge {
        font-size: .6em;
      }

       &__description {
        margin-top: 20px;
        font-size: .7em;
      }
     }   
   }
}